body{
    background-color:white;
}
.logoImg{
    width: 11050px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px;
}
.navigationBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    gap: 10px;
}
.button1{
    border: none;
    background: none;
    font-weight: bold;

}
.button1:hover{
    border: none;
    background: #2E3094;
    border-radius: 8px;      
    color: white;            
    font-weight: bold;
}

.button1:active{
    border: none;
    background: #ffffff;
    border-radius: 8px;      
    color: #9B2D33;            
    font-weight: bold;

}


.button2{
    border: none;
    background: #9B2D33;
     border-radius: 8px;      
    color: white;            
    padding: 10px 20px;
    font-weight: bold;
}
.bgImg1{
    display: block;
    max-width: 100%;
    height: auto;
    padding-top: 15;
    margin: auto;
}

.historyContainer{
    display: flex;
    gap: 2%;
    justify-content: center;
}
.historyText{
    flex: 1;
    text-align: left;
    font-size: 100%;
    align-items: center;
    justify-content: center;
}
.ourCore h2{

    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;

}
.ourCore p{
    text-align: center;
    font-size: smaller;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.427);
}
.textCards{
    display: flex;
    gap: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
.textCards h4{
    text-align: center;
}
.textCard{
    background: #ffffff;
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
