body{
    background-color:white;
}
.logoImg{
    width: 11050px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px;
}
.navigationBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    gap: 10px;
}
.button1{
    border: none;
    background: none;
    font-weight: bold;

}
.button1:hover{
    border: none;
    background: #9B2D33;
    border-radius: 8px;      
    color: white;            
    font-weight: bold;
}

.button1:active{
    border: none;
    background: #ffffff;
    border-radius: 8px;      
    color: #9B2D33;            
    font-weight: bold;

}


.button2{
    border: none;
    background: #9B2D33;
     border-radius: 8px;      
    color: white;            
    padding: 10px 20px;
    font-weight: bold;
}
